@mixin cont() {
  position: relative;
  top: 30px;
  left: 0;
  background-color: #a3a29f;
  min-height: auto;
}
.brief-information {
  @include cont();
}
@mixin experience() {
  position: relative;
  top: 50px;
  left: 0;
  background-color: #a3a29f;
  min-height: auto;
}
.experience-container {
  @include experience();
}
@mixin proj() {
  position: relative;
  top: 70px;
  left: 0;
  background-color: #a3a29f;
  min-height: auto;
}
.projects-container {
  @include proj();
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$shadow-design: 0 0 1px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.2);
body {
  width: 100%;
  background-color: rgb(250, 243, 233);
}
#main {
  box-shadow: $shadow-design;
  min-height: auto;
  display: flex;
  width: 90%;
}
.proje {
  width: 70%;
}
.about-me {
  width: 30%;
}
.projects-container p {
  font-style: italic;
}
.project {
  min-height: 245vh;
}
.linkedln {
  display: flex;
}
.zuri-logo,
.voice-logo {
  width: 40px;
  height: 40px;
  left: 0;
}
.crute {
  max-width: 100%;
}
img {
  width: 40px;
  height: 50px;
  position: relative;
  left: -9px;
}
.code-technologies p {
  border: 2px solid;
  height: 40px;
  border-radius: 30px;
}
#aside {
  min-height: 245vh;
}
.mine {
  text-align: center;
}
.email,
.call,
.home,
.birth,
.status,
.GitHub,
.Linkedln,
.Dev,
.CodePen,
.Twitter {
  display: flex;
  gap: 15px;
}
@media screen and (max-width: 480px) {
  #main {
    display: flex;
    flex-direction: column;
  }
}
